@import '@/styles/Main.scss';

.section {
  align-items: center;
  display: flex;
  padding: 50px 0;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  dotlottie-player {
    @media (min-width: $screen-lg) {
      bottom: -26% !important;
    }
  }
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 900px;
  padding: 0 20px;
  position: relative;
  width: 100%;
  z-index: 2;

  @media (max-width: $screen-sm) {
    max-width: 100%;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -60px;
}

.subtitle {
  color: $white;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.title {
  @include title (
    $min-size: 50px,
    $max-size: 66px
  );
  color: $main-color;
  margin-bottom: 20px;
  text-align: center;
}

.counter {
  border: 1px dashed $main-color;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 16px 30px;

  &_item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media (max-width: $screen-sm) {
      width: 40%;
    }
  }

  &_value {
    color: $white;
    font-size: 46px;
    font-weight: 700;
  }

  &_date {
    color: $main-color;
    font-size: 16px;
  }
}

.separator {
  color: $main-color;
  font-size: 46px;
  font-weight: 700;

  &:nth-child(4) {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}

.social {
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: 25px;

  &_text {
    color: $white;
    font-size: 14px;
  }

  &_link {
    align-items: center;
    color: $white;
    display: flex;
    font-size: 22px;
    transition: color .5s;

    &:hover {
      color: $main-color;
    }
  }
}

.animation_text {
  position: absolute;
  bottom: 0;
  left: 0;
}